.seating-card {
  color: whitesmoke;
  margin: 1rem;
  text-align: center;
  justify-content: center;
}

.seating-card h2, h4 { 
  font-size: 20px;
  }


.seat-4-card {
  height: 18%;
  width: 10%;
}

.seat-2-card {
  height: 11%;
  width: 10%;
}

.seat-8-card {
  height: 32%;
  width: 10%;
}

.seat-12-card {
  height: 54%;
  width: 10%;
}