@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.brandName {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.whiteh1 {
  color: whitesmoke;
}

.homeCards {
  margin: 10px 0;
}

.hide {
  display: none !important;
}

.cursor {
  cursor: pointer;
}

.grayBack {
  background-color: #ffc107;
}

.blackText {
  color: black;
}

#printComponent {
  margin-bottom: 50px;
}