

.ingredient-card {
  background-image: linear-gradient(-25deg, rgb(36, 36, 36), rgb(77, 77, 77));
  color: whitesmoke;
  // background: whitesmoke;
  border-radius: .2rem;
  padding: 2rem;
  height: 12rem;
  margin-left: -4rem;
  box-shadow: 4px 4px 12px 2px rgba(black, 0.7);
  transition: 0.2s;
  &:hover {
    transform: translateY(-1rem);
    z-index: 2;
    
    ~ .ingredient-card {
      transform: translateX(4rem);
    }
  }
}

#existingIngredientWarning {
  font-style: italic;
  color: red;
}

.ingredientCardFooter {
  display: none;
}

.ingredientCardFooter:hover {
  display: block;
}