input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

#addMenuIngredientsForm {
  display: flex;
  justify-content: space-around;
}

#createMenuItemBtn {
  font-family: 'Roboto', sans-serif;
}

.individual-menu-card {
  max-width: 800px;
  max-height: 400px;
  margin: 10px;
  background-color: #9E9E9E;
}

.menu-img {
  height: 400px;
  width: auto;
}

.img-div {
  overflow: hidden;
  height: 100%;
}

#menuCardDiv {
  margin: 50px 100px;
}

#menuDetails, .menu-body, .card-text {
  margin: 5px;
}